<div>
  <div class="flex flex-wrap">
    <app-header (dateRangeSelected)="onSelectDateRange($event)"></app-header>
    <button [disabled]="this.chartsOptions.length === 4" (click)="addChart()">Add Chart</button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
    <app-chart
      *ngFor="let chart of chartsOptions; let i = index"
      class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2"
      [chartOptions]="chart"
      [chartType]="'line'"
      [sensors]="['temperature']"
      [lineColors]="['#ff0000']"
      [indexChart]="i"
      >
    </app-chart>
  </div>
</div>
